body {
  margin: 0;
}

/* NAVBAR  */

.Nav1 {
  justify-content: space-between;
  background-color: #f2d78a;
  color: #623d29;
  display: flex;
  align-items: center;
}

.Nav1 img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 1rem;
}
.nav_liens {
  display: flex;
  justify-content: end;
  list-style-type: none;
  margin-right: 2rem;
  font-size: larger;
  position: relative;
}

.nav_liens img {
  height: 30px;
  width: 30px;
  margin-right: 1rem;
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

/* composant parfumcard */

.parfum-card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.parfum-card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: opacity 0.3s ease-in-out;
}

.parfum-card h2 {
  font-size: 18px;
  margin-top: 10px;
}

.parfum-card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.parfum-card:hover img {
  opacity: 0.8;
}

/* MON H1 de HOME  */

@font-face {
  font-family: "URW Chancery L, cursive";
  src: url("../font/luca_pacioli_rough.ttf") format("truetype");
}

.titlehome {
  text-align: center;
  font-family: Arial;
  font-family: "URW Chancery L", cursive;
  padding: 2rem;
  font-size: 30px;
}

/* LES CARDS de parfums  */

.box-cards {
  display: flex;
  justify-content: space-around;
}

.cards img {
  width: auto;
  height: 350px;
}
.cards figcaption {
  text-align: center;
  font-size: x-large;
}

.cards p {
  text-align: center;
  font-size: medium;
}
.p2 {
  text-align: center;
  font-size: small;
  font-style: italic;
}
.prix {
  color: black;
  font-size: medium;
  background: #f2d78a;

  margin: 2rem;
}
.body-card {
  height: auto;
  width: auto;
}

/* Bouton qui s'affiche sur la photos */

.image-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay-button {
  background-color: #f2d78a;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.cards:hover .overlay {
  opacity: 1;
}

/* Bouton ajouter au panier  */

.ajouter_panier {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4b180f;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}

.ajouter_panier:hover {
  background-color: #f2d78a;
  color: #4b180f;
}

/* tableau de panier  */
.back {
  background-image: url(../src/photos/fond2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tableau-panier {
  border-collapse: collapse;
  background-color: #f2d78a;
  color: black;
  text-align: center;
  margin: auto auto;
}
.tableau-panier ul {
  list-style-type: none;
  text-align: center;
}
.tableau-panier td {
  height: 100px;
  border: 3px solid black;
  font-size: 20px;
  background-color: aliceblue;
}
.tableau-panier th {
  border: 3px solid black;
  height: 50px;
  padding: 0.5rem;
}

.section_bouton_add {
  text-align: center;
}

.td-tab {
  max-height: 100px;
}

.titletab {
  text-align: center;
  font-family: Arial;
  font-family: "URW Chancery L", cursive;
  padding: 2rem;
  font-size: 50px;
  color: #f2d78a;
}
.tdprix {
  color: green;
}
